.btn-default{
  border: black 1px solid;
  border-radius: 0.4em;
  margin-bottom: 5px;
}
.item{
  font-size:20px;
  align-items: center;
  margin: 0px;
}
.profile{
  color:black;
  font-size: 20px;
  display:block;
}
.profile:hover{
  color:black;
}
.avatar{
 // size:1em;
}
.active button {
  float:left;
}
.notlogin{
  display:flex;
  padding: 0px;

}
.loginb{
  margin-right: 10px;
  display:flex;
  margin-top:5px;
}
.extra{
  display:flex;
  justify-content:center;
}
.btn-all{
  display:flex;
}
