.containersignup{
  display:flex;
  height: 80vh;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
abbr{
  display:none;
}
.signup{
 border:solid 1px black;
 padding-left: 206px;
 padding-right: 206px;
}
.centered{
  display:flex;
  align-items:center;
  justify-content: center;
  color:black;
}
.fa-6x{
  display:flex;
  align-items:center;
  justify-content: center;
  color:black;
}
.nounderline:hover{
  list-style-type: none;
  text-decoration: none;
}

