<p id="notice"><%= notice %></p>

<!-- <div class="navbar border-bottom bg-white">
  <div class="container justify-content-between align-items-center">
    <img src="assets/fakey_logo.png" alt="" width="140px">

    <a href="..." class="btn btn-primary">Login</a>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner1.jpg);">
</div>

<h2>New arrivals</h2>

<table>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.cost %></td>
                  <td><%= product.desc %></td>
                </tr>
              <% end %>
            </tbody>
        </div>
      </div>
    </div>
  </div>
</table>

<br>
