<p id="notice"><%= notice %></p>

<!-- <div class="navbar border-bottom bg-white">
  <div class="container justify-content-between align-items-center">
    <img src="assets/fakey_logo.png" alt="" width="140px">

    <a href="..." class="btn btn-primary">Login</a>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner1.jpg);">
</div>
<br>
<br>
<h2>New arrivals</h2>
<br>
<div class="container">
  <div class="row">

      <div class="card">
        <img src="assets/hoodie.png">
        <div class="card-info">
          <h3>Hoodie</h3>
          <p>Graphic Hoodie</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
        <img src="assets/sweater.png">
        <div class="card-info">
          <h3>Sweater</h3>
          <p>Graphic Sweater</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
        <img src="assets/romper.png">
        <div class="card-info">
          <h3>Romper</h3>
          <p>Short Sleeve Romper</p>
          <h3>$2.99</h3>
        </div>
      </div>

  </div>
</div>

<!--
<table>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.cost %></td>
                  <td><%= product.desc %></td>
                </tr>
              <% end %>
            </tbody>
        </div>
      </div>
    </div>
  </div>
</table>

<br>
 -->
