<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(assets/banner1.jpg);">
</div>
<br>
<br>
<h2>New arrivals</h2>
<br>
<div class="container">
  <div class="cards-grid">
      <div class="card">
        <a href=""><img src="assets/grey_hoodie.png"></a>
        <div class="card-info">
          <p>Grey Cotton Hoodie</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
        <a href=""><img src="assets/purple_hoodie.png"></a>
        <div class="card-info">
          <p>Purple Cotton hoodie</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
        <a href=""><img src="assets/stripe_crew.png"></a>
        <div class="card-info">
          <p>Stripe Crew</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
        <a href=""><img src="assets/purple_crew.png"></a>
        <div class="card-info">
          <p>Purple Crew</p>
          <h3>$2.99</h3>
        </div>
      </div>

      <div class="card">
          <a href=""><img src="assets/black_fleece.png"></a>
          <div class="card-info">
            <p>Black sweatpants</p>
            <h3>$2.99</h3>
          </div>
        </div>

        <div class="card">
          <a href=""><img src="assets/grey_fleece.png"></a>
          <div class="card-info">
            <p>Grey sweatpants</p>
            <h3>$2.99</h3>
          </div>
        </div>

        <div class="card">
          <img src="assets/wash_denim.png">
          <div class="card-info">
            <p>Navy denim pants</p>
            <h3>$2.99</h3>
          </div>
        </div>

        <div class="card">
          <img src="assets/burgundy_denim.png">
          <div class="card-info">
            <p>Burgundy denim pants</p>
            <h3>$2.99</h3>
          </div>
        </div>

        <div class="card">
            <img src="assets/blue_onesie.png">
            <div class="card-info">
              <p>Blue cotton onesie</p>
              <h3>$2.99</h3>
            </div>
          </div>

          <div class="card">
            <img src="assets/grey_onesie.png">
            <div class="card-info">
              <p>Grey cotton onesie</p>
              <h3>$2.99</h3>
            </div>
          </div>

          <div class="card">
            <img src="assets/pink_onesie.png">
            <div class="card-info">
              <p>Pink cotton onesie</p>
              <h3>$2.99</h3>
            </div>
          </div>

          <div class="card">
            <img src="assets/stripe_onesie.png">
            <div class="card-info">
              <p>Stripe cotton onesie</p>
              <h3>$2.99</h3>
            </div>
          </div>


  </div>
</div>
